* {
    margin: 0;
    
}

#sec1 {
    /* background-color: #f0f0f0; */
    background-color: #e7c380;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sec2 {
    background-color: #e7c380;
}

#hoja {
    font-family: Arial, sans-serif;
    background-color: #ffffff71;
    border-radius: 8px;
    width: 60%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 90px;
    margin-top: 30px;
}

h1 {
    margin-bottom: 40px;
    transition: .5s;
}

.grupo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

label {
    display: flex;
    align-items: left;
}

input, 
select {
    padding: 15px;
    background-color: #ffffff71;
    border: 1px solid black;
    font-size: 16px;
    border-radius: 8px;
    transition: .5s;
}

input[type=button] {
    background-color: rgb(255, 232, 99);
}

.grupo {
    margin-bottom: 20px;
}

#genr {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

.gend {
    display: flex;
    flex-direction: row;
    gap: 20px
}

table {
    background-color: rgb(255, 94, 0);
}

@media (max-width: 700px) {
    h1 {
        font-size: 28px;
    }

    input,
    select {
        padding: 10px;
    }

    input[type=radio] {
        width: 20px;
        height: 20px;
        bottom: 1px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 26px;
    }
}